html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*CSS RESET Above*/

html {
  /*background-color: #DDD6DE;*/
  color: #FFFFFF;
  background-image: url(http://hufi.ro/static/galleries/normal/grimet80P9wr.jpg);
  background-size: cover;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
}

h6, .all_questions p {
  font-size: 50px;
  color: #FFFFFF;
  font-weight: 800;
  background-color: rgba(0, 2, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.intro_image, img {
  margin-top: 30px;
  border-radius: 20px;
}

img {
  border: 10px solid #FFFFFF;
}

.start_button, .submit_answer1, .submit_answer2,
.submit_answer3, .submit_answer4, .submit_answer5  {
  height: 25px;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  border: 1px dotted #4D4B4D;
  background-color: #FDF6FF;
}

.main_text p, .answers {
  line-height: 30px;
  padding-top: 20px;
}

.main_text, .answers {
   background-color: rgba(10, 10, 10, .31);
   width: 400px;
   margin: auto;
}

.answers {
  text-align: left;
}

.question_1 {
  display: none;
}

.question_2 {
  display: none;
}

.question_3 {
  display: none;
}

.question_4 {
  display: none;
}

.question_5 {
  display: none;
}
